:root {
  --primary-300: hsl(249, 99%, 64%); //(active input border)
  --primary-600: hsl(278, 94%, 30%); //(active input border)
  --primary-400: hsl(0, 100%, 66%); //(input errors)

  --neutral-100: hsl(0, 0%, 100%);
  --neutral-300: hsl(270, 3%, 87%);
  --neutral-400: hsl(279, 6%, 55%);
  --neutral-700: hsl(278, 68%, 11%);
}